@import '../../../../fxa-content-server/app/styles/variables';

.new-user-email-form {
    .sign-in-copy {
        color: $grey-50;

        a {
            color: $grey-50;
        }
    }

    .label-text {
        font-weight: 600;   // font-semibold
        font-size: 15px;
        color: $grey-50;
        display: inline-block;  // inline-block
        margin-bottom: 7px; //mb-2
        text-align: left;
    }

    .input-row--checkbox {
        margin-top: 24px;
        margin-left: 0;
        margin-bottom: 5px;
        margin-right: 0;

        label input[type="checkbox"] {
            margin-right: 6px;  // mr-1 (1.5 - check if we have custom classes)
            margin-left: 8px;   // ml-2
        }
    }
}
